<div class="cards-container">
  <div class="skill-card fade-in"><app-skill-card [name]="'Back-end'">Java | Kotlin | Spring Boot | Node.js</app-skill-card></div>
  <div class="skill-card fade-in"><app-skill-card [name]="'Front-end'">Angular | React | HTML | CSS</app-skill-card></div>
  <div class="skill-card fade-in"><app-skill-card [name]="'Database'">PostgreSQL, OracleDB, MySQL</app-skill-card></div>
  <div class="skill-card fade-in"><app-skill-card [name]="'Other Tools & Frameworks'">Docker | Kafka | Redis | Prometheus | Maven | Gradle | JUnit | Hibernate | Postman | Git | Gitlab</app-skill-card></div>
  <div class="skill-card fade-in"><app-skill-card style="padding-inline: 800px" [name]="'Languages'">English(C1) | Russian(C2) | Kazakh(B1)</app-skill-card></div>
</div>

