<div class="container">
  <div class="fade-in"><app-job-card [company]="'Halyk Bank'"
                                   [date]="'07/2024 - 09/2024'"
                                   [position]="'Software Developer Intern'"
                                   [skills]="'Java | Kotlin | Spring Boot | PostgreSQL | OracleDB | Kafka | Docker | Prometheus | Redis | Flyway | JUnit | Postman'">

    <ul>
      <li>Developed a borrower notification report system
        using Apache Kafka</li>
      <li>Collaborated with DevOps engineers to configure
        metrics on Prometheus for Rest Template</li>
      <li>Developed a credit report website using Spring
        MVC with Thymeleaf</li>
      <li>Collaborated with Developers improving test
        coverage from 0% to 60% with JUnit/Mockito</li>
      <li>Refactored and optimized legacy code on Spring
        Boot, doubling the execution speed</li>

    </ul>
  </app-job-card>
  </div>
  <div class="fade-in"><app-job-card [company]="'Azal Global Logistics'"
                     [position]="'Logistician'"
                     [date]="'07/2024 - 10/2024'"
                     [skills]="'Team Leadership | Project Management | Budgeting & Cost Management | Time Management | Microsoft Office'"
  >
    <ul>
      <li>Facilitated over 50 international cargo
        transportation, contributing $350k+ to company</li>
      <li>Managed team of 10 drivers, scheduling a timely
        deliveries to customer's warehouse
      </li>
      <li>Led a team of 2 office staff to finalize over 100
        contracts with clients</li>
    </ul>
  </app-job-card></div>
</div>
