.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 50px;
}
ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
.fade-in{
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1s ease, transform 1s ease;
}
