<main>
  <div class="intro">
    <div class="profile fade-in">
      <img src="assets/images/me.jpg" alt="me" id="me" />
      <p id="developer">Software Developer</p>
    </div>
    <div class="description fade-in">
      <p>
        Hello! My name is Arthur Sharipov, and I am a Software Developer
        with a passion for web development, primarily focused on back-end
        technologies.<br />Feel free to explore my website and get in touch
        if you'd like to collaborate or simply have a chat!
      </p>
    </div>
  </div>
  <div class="about-me fade-in">
    <h1>About Me</h1>
    <h2>General</h2>
    <div class="section">
      I am 18 years old, studying and living in Canada, and originally from
      Kazakhstan
    </div>
    <h2>Education</h2>
    <div class="section">
      I am currently a second-year student at Sheridan College, pursuing an
      Advanced Diploma in Software Development and Network Engineering
    </div>
    <h2>Hobbies</h2>
    <div class="section">
      During my free time I love coding, going to the gym, reading books and
      playing games
    </div>
  </div>
</main>
